@import "tailwindcss";

:root {
  --primary-color: #0d48b6; /* Azul primário */
  --segundary-color: #09a116; /* Verde secundário */
  --text-header: #053e6d; /* Terceiro tom de fundo */
  --tertiary-color: #a16c09; /* Cor terciária (laranja) */
  --background: #edededed; /* Cor de fundo clara */
  --backgroundTwo: #efefefef; /* Segundo tom de fundo */
  --backgroundThree: #dfdada; /* Terceiro tom de fundo */
  --backgroundFour: #0261af; /* Terceiro tom de fundo */
  --button-color: #dddd;
  --border-line: #dddddd; /* Cor da linha de borda */
  --foreground: #171717; /* Cor do texto escuro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414; /* Cor de fundo escura */
    --backgroundTwo: #080808; /* Tom mais escuro de fundo */
    --backgroundThree: #252525; /* Cor terciária escura */
    --backgroundFour: #022038; /* Terceiro tom de fundo */
    --button-color: #161616dd;
    --border-line: #64636338; /* Cor da linha de borda em tema escuro */
    --foreground: #e0e0e0; /* Texto claro no tema escuro */
    --primary-color: #0d48b6; /* Azul claro para o tema escuro */
    --text-header: #022847; /* Terceiro tom de fundo */
    --segundary-color: #09a116; /* Verde mais suave para o tema escuro */
    --tertiary-color: #ff9800; /* Laranja mais suave no tema escuro */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Pode colocar no seu global.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary-color);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Define o tamanho do scrollbar */
::-webkit-scrollbar {
  width: 4px;  /* largura para scroll vertical */
  height: 12px; /* altura para scroll horizontal */
}

/* Define o estilo da "thumb" do scrollbar (parte que você arrasta) */
::-webkit-scrollbar-thumb {
  @apply bg-[var(--border-line)]; /* cor do thumb */
  border-radius: 2px;    /* bordas arredondadas */
}

/* Define o estilo da "thumb" quando está sendo clicada */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[var(--border-line)] ; /* cor quando o thumb está sendo pressionado */
}

/* Define o estilo da linha do scrollbar (track) */
::-webkit-scrollbar-track {
  @apply bg-[var(--background)]; /* cor do fundo do track */
  border-radius: 10px;        /* bordas arredondadas */
}